/**** GENERAL *****/
* {
    font-family: 'Raleway', sans-serif;
}

:root { 
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    
}

.fa-solid { 
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
/********** MARGE PAR DEFAUT A 0 **********/
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

/******* NAVIGATION BAR ********/
header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    height: 19px;
    margin-top: 30px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 68px;
    list-style: none;
}

.navbar ul a:hover {
    color: #0065FC;
/****** BARRE AU DESSUS AU PASSAGE DE LA SOURIS *********/    
    text-decoration: 2px solid underline;
    text-underline-offset: -31px;
}

/******* HEADLINE *******/
.headline h2 {
    font-size: 22px;
    margin-top: 35px;
}

/******* BAR DE RECHERCHE ********/
.search-bar {
    display: flex;
    margin-top: 35px;
    width: 377px;
    height: 49px;
}

.back-icon {
    --main-color : black;
    width: 50px;
    height: 47px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;   
    border-radius: 15px 0px 0px 15px;    
}

#icon {
    height: 18px;
    width: 14px;
    /***** ON POSITIONNE L'ICON *****/
    transform: translateY(14px);
    margin-left: calc(50% - 6px);
}

.search {
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #f2f2f2;
    width: 195px;
    padding-left: 15px;
}

input.submit {
    color: #F2F2F2;
    background-color: #0065FC;
    width: 132px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: pointer;
}

/*** FILTRE DE RECHERCHE ******/
.filter-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-top: 35px;
}

.filter-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filter-btn button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 2px solid #d9d9d9;
    background-color: white;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    padding: 0px 19px 0px 19px;
}

.filter-bar button:hover {
    background-color: rgba(0, 101, 252, 0.2);
}

/***** INFO ******/
.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
}

.cercle {
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

#icon-info {
    width: 4px;
    height: 10px; 
    margin-top: 3px;
    margin-left: 9px;
}

.info p {
    font-size: 16px;
}

/*** REGLAGE DES CARDS  ****/
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** HEBERGEMENTS ET POPULAIRES ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** HEBERGEMENTS ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 33px;
}

.hebergements-cards .card {
    width: 240px;
    height: 207px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-cards .card-title {
    margin: 8px 0px 8px 0px;
} 

.hebergements-cards .card-subtitle {
    margin: 8px 0px 0px 0px;
} 

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.more-info {
    height: 21px;
}

.more-info .link {
    font-weight: bold;
    font-size: 18px;
}

/****** POPULAIRES ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**** ACTIVITES A MARSEILLE ********/
.activites {
    width: 100%;
    margin-top: 40px;
}

.activites-marseille {
    margin-left: 30px;
    margin-bottom: 30px;
}

.activites-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 33px;
}

.activites-card .card {
    width: 300px;
    height: 440px;
    padding: 0px;
}

.activites-card img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-card .card-content {
    padding-left: 20px;
}

/***** FOOTER *****/
footer {
    background-color: var(--main-bg-color);
    width: 100%;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container ul {
    list-style: none;
    margin: 20px;
    padding: 0px;
}

.footer-links ul li {
    margin-bottom: 15px;
}

.footer-container .footer-title {
    font-weight: bold;
    font-size: 18px;
}

/****** MEDIA QUERIES ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        min-width: 320px;
    }

    .filter-bar {
        flex-direction: column;
        align-items: start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card .card {
    width: 195px;
    height: 270px;
    }

    .activites-card img {
    height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
    min-width: 320px;
    padding: 0;
    }

    header {
    display: flex;
    flex-direction: column;
    }

    .logo-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .navbar ul {
    align-items: center;
    justify-content: space-around;
    padding: 0;
    gap: 0;
    }

    .headline {
    padding: 0px 20px 0px 20px;
    }

    .search-bar {
    padding: 0px 20px 0px 20px;
    }

    input.submit {
    color: #F2F2F2;
    background-color: #0065FC;
    width: 49px;
    height: 49px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    cursor: pointer;
    }

    .filter-bar {
    padding: 0px 20px 0px 20px;
    }

    .filter-btn {
    width: 100%;
    }

    .filter-btn button {
    width: calc(50% - 10px);
    padding: 0px;
    }

    .info {
    padding: 0px 20px 0px 20px;
    }

    .cercle {
    width: 10%;
    height: 60%;
    }

    .hebergements-and-populaires {
    flex-direction: column-reverse;
    margin: 0;
    }

    .hebergements-and-populaires section {
    border-radius: 0;
    padding: 0px 20px 0px 20px;
    }

    .populaires {
    width: 100%;
    height: 570px;
    margin-top: 35px;
    }

    .populaires-title {
    margin-top: 30px;
    }

    .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    }

    .populaires-cards .card {
    width: 325px;
    margin: 0;
    }

    .populaires-cards img {
    width: 33%;
    height: 136px;
    }

    .hebergements {
    background-color: white;
    width: 100%;
    }

    .hebergements-title {
    margin-top: 30px;
    }

    .hebergements-cards {
    gap: 15px;
    margin-top: 20px;
    }

    .hebergements-cards .card {
    width: 325px;
    height: 197px;
    }

    .activites {
    padding: 0px 20px 0px 20px;
    height: 965px;
    }

    .activites-marseille {
    margin: 0;
    padding: 10px;
    }

    .activites-card {
    gap: 15px;
    }

    .activites-card .card {
    min-width: 315px;
    height: 200px;
    }

    .activites-card img {
    height: 140px;
    }

    footer .footer-container {
    flex-direction: column;
    margin-left: 20px;
    }
}